.monaco-page {
  width: 100%;
  .monaco-page-content {
    height: calc(100vh - 42px);
    max-height: calc(100vh - 42px);
    width: 100%;
    position: relative;
    .monaco-content {
      height: 100%;
    }
  }
}